.ui-block-key-left {
    //background-color: red;
    width: 10%; 
    //font-size: 40px;
    //vertical-align: center;
    //padding:25px;   
    height:50px;   
    line-height:50px; 
    overflow:hidden;   
    font-weight: bold;
}
.ui-block-key-center {
    //background-color: blue;
    width: 70%;
}
.ui-block-key-right {
    //background-color: blue;
    width: 18%;
}

.ui-block-a, .ui-block-b, .ui-block-c {
    //background-color: lightgray;
    //border: 1px solid black;
    //height: 50px;
    font-weight: bold;
    text-align: center;
    //padding: 30px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.ui-quit-button, .ui-connect-button {
    float:right;
}
.bigbutton {
    //background-color: lightgray;
    height: 120px;
    font-size: 50px;
    font-weight: bold;
}

.smallfont {
    font-size: 50%;
}

.config {
    border: 1px solid black; padding: 10px;
}
/*
.textareamaxheight {
    height: 50px;
    overflow-y:scrooll;
}
*/

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #87A3B1;
    color: #fafafa;
}

/*
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #BBE0D4;
}
*/
body, input, select, textarea, button, .ui-btn {
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, SimSun, sans-serif;
}
